@font-face {
    font-family: 'Cherry';
    src: url('./cherry.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'MyFont';
    src: url('./MyFont-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ComicFont';
    src: url('./ComicFont-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */